{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares Owned</th>
            <th>Current Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td><strong>{{ total|usd }}</strong></td>
        </tr>
    </tfoot>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row["symbol"] }}</td>
            <td>{{ row["name"] }}</td>
            <td>{{ row["SUM(shares)"] }}</td>
            <td>{{ row["current_price"]|usd }}</td>
            <td>{{ row["SUM(total)"]|usd }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">CASH</td>
            <td>{{ cash|usd }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}